{% extends "layout.html" %}

{% block content %}


<div class="nav2">
    <ul class="nav nav-justified">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#COMBOS">Combos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#ENTREMESES">Entremeses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Arroz">Arroz</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Chopsuey">Chopsuey</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Fideos">Fideos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Pollo">Pollo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Carnes">Carnes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Cerdo">Cerdo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Vegetales">Vegetales</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Sopas">Sopas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Bebidas">Bebidas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Extras">Extras</a>
        </li>
    </ul>
</div>
<div class="Menucompleto">
    <div class="titulomenus">
        <h2 id="COMBOS">COMBOS</h2>
        <img src="http://drive.google.com/uc?export=view&id=13r-qD9OsWQEKKeKvcCAAWg_gpqQphyro">
    </div>
    <div id="containermenu1" class="containerseccion">
    </div>
    <div id="containermenu2" class="containerseccion">
    </div>
    <div class="titulomenus">
        <h2 id="ENTREMESES">ENTREMESES</h2>
        <img src="http://drive.google.com/uc?export=view&id=13r-qD9OsWQEKKeKvcCAAWg_gpqQphyro">
    </div>
    <div id="containermenu3entremes" class="containerseccion">
    </div>
    <div id="containermenu4entremes" class="containerseccion">
    </div>
    <div class="titulomenus">
        <h2 id="Arroz">Arroz</h2>
        <img src="http://drive.google.com/uc?export=view&id=13r-qD9OsWQEKKeKvcCAAWg_gpqQphyro">
    </div>
    <div class="titulomenus">
        <h2 id="Chopsuey">Chopsuey</h2>
        <img src="http://drive.google.com/uc?export=view&id=13r-qD9OsWQEKKeKvcCAAWg_gpqQphyro">
    </div>
    <div class="titulomenus">
        <h2 id="Fideos">Fideos</h2>
        <img src="http://drive.google.com/uc?export=view&id=13r-qD9OsWQEKKeKvcCAAWg_gpqQphyro">
    </div>
    <div class="titulomenus">
        <h2 id="Pollo">Pollo</h2>
        <img src="http://drive.google.com/uc?export=view&id=13r-qD9OsWQEKKeKvcCAAWg_gpqQphyro">
    </div>
    <div class="titulomenus">
        <h2 id="Carnes">Carnes</h2>
        <img src="http://drive.google.com/uc?export=view&id=13r-qD9OsWQEKKeKvcCAAWg_gpqQphyro">
    </div>
    <div class="titulomenus">
        <h2 id="Cerdo">Cerdo</h2>
        <img src="http://drive.google.com/uc?export=view&id=13r-qD9OsWQEKKeKvcCAAWg_gpqQphyro">
    </div>
    <div class="titulomenus">
        <h2 id="Vegetales">Vegetales</h2>
        <img src="http://drive.google.com/uc?export=view&id=13r-qD9OsWQEKKeKvcCAAWg_gpqQphyro">
    </div>
    <div class="titulomenus">
        <h2 id="Sopas">Sopas</h2>
        <img src="http://drive.google.com/uc?export=view&id=13r-qD9OsWQEKKeKvcCAAWg_gpqQphyro">
    </div>
    <div class="titulomenus">
        <h2 id="Bebidas">Bebidas</h2>
        <img src="http://drive.google.com/uc?export=view&id=13r-qD9OsWQEKKeKvcCAAWg_gpqQphyro">
    </div>
    <div class="titulomenus">
        <h2 id="Extras">Extras</h2>
        <img src="http://drive.google.com/uc?export=view&id=13r-qD9OsWQEKKeKvcCAAWg_gpqQphyro">
    </div>
</div>


{% endblock %}